.DS_Store
build
docs
bin
logs
conf/automaton-urlfilter.txt
conf/crawl-urlfilter.txt
conf/hadoop-env.sh
conf/hadoop-site.xml
conf/httpclient-auth.xml
conf/nutch-site.xml
conf/prefix-urlfilter.txt
conf/regex-normalize.xml
conf/regex-urlfilter.txt
conf/slaves
conf/subcollections.xml
conf/suffix-urlfilter.txt
lib/hbase-0.19.0.jar.bak
nutch-habase.patch
src/java/com