<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="admin-configuration"
   name="Administration Nutch Configuration"
   version="1.0"
   provider-name="org.apache.nutch">

   
   <runtime>
   <library name="admin-configuration.jar">
        <export name="*"/>
     </library>
     <library name="conf">
        <export name="*"/>
     </library>
     
   </runtime>

   <extension point="org.apache.nutch.admin.GuiComponent"
              id="org.apache.nutch.admin.GuiComponent"
              name="Administration Nutch Configuration">

      <implementation class="org.apache.nutch.admin.DefaultGuiComponent"
                      id="org.apache.nutch.admin.DefaultGuiComponent">
        <parameter name="isInstanceComponent"  value="true"/>
        <parameter name="jspFolder"  value="jsp"/>
        <parameter name="tabName"  value="tabname"/>
        <parameter name="bundle"  value="locale.admin-configuration"/>
      </implementation>

   </extension>
</plugin>
