<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="admin-scheduling"
   name="Administration Scheduling"
   version="1.0"
   provider-name="org.apache.nutch">

   
   <runtime>
     <library name="admin-scheduling.jar">
        <export name="*"/>
     </library>
     <library name="quartz-1.5.0.jar">
        <export name="*"/>
     </library>
     <library name="conf">
        <export name="*"/>
     </library>

   </runtime>

   <extension point="org.apache.nutch.admin.GuiComponent"
              id="org.apache.nutch.admin.GuiComponent"
              name="Administration Scheduling">

      <implementation class="org.apache.nutch.admin.DefaultGuiComponent"
                      id="org.apache.nutch.admin.DefaultGuiComponent">
        <parameter name="isInstanceComponent"  value="true"/>
        <parameter name="jspFolder"  value="jsp"/>
        <parameter name="tabName"  value="tabname"/>
        <parameter name="bundle"  value="locale.admin-scheduling"/>
      </implementation>
      
   </extension>
</plugin>
